<footer class="page-footer green lighten-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">inky Heaven Weather + Astronomy Portal</h5>
        <p class="white-text text-lighten-4">
          inky Heaven is a powerful weather and astronomy portal tool that will allow you to access any location, weather and astronomy globally by;
          <ul>
            <li>Latitude and Longitude</li>
            <li>City Name</li>
            <li>US Zipcode</li>
            <li>UK Postcode</li>
            <li>Canada Postalcode</li>
            <li>IATA (3 Digit Airport Codes)</li>
            <li>IP Address</li>
          </ul>
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Contact us</h5>
        <ul>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://www.linkedin.com/in/yoelmorad/"
              target=”_blank”
              >Message the Dev on Linkedin</a
            >
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/yoel0/inkyheaven/issues"
              target=”_blank”
              >Report Issues or Errors on Github</a
            >
          </li>
        </ul>
        <h5 class="white-text">Meet the Dev's Mentors</h5>
        <ul>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/romebell"
              target=”_blank”
              >FULL-STACK SR Software Engineer,<br> Rome "Caesar, JS Conqueror" Bell</a
            ><hr>
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/ahonore42"
              target=”_blank”
              >SCRUM Master,<br> Adam "Professor Oak" Honore</a
            ><hr>
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/SeannyPhoenix"
              target=”_blank”
              >Tech Lead,<br> Seanny "Brilliant" Phoenix</a
            ><hr>
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/erik-hei"
              target=”_blank”
              >Principal Software Engineer,<br> Erik "Hawk Eyes" Heikkila</a
            ><hr>
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/melissay94"
              target=”_blank”
              >Front-End SR Software Engineer,<br> Melissa "Aesthethic Queen" Young</a
            ><hr>
          </li>
          <li>
            <a
              class="white-text text-lighten-3"
              href="https://github.com/micajank"
              target=”_blank”
              >Software Architect,<br> Micaela "Le MAC" Jankowski</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <img src="/assets/images/inkyheavenlogo.png" width="50" height="auto" />
      © 2020 inky Heaven
    </div>
  </div>
</footer>
