<nav>
  <div class="nav-wrapper green lighten-3">
    <a href="#" class="brand-logo right"
      ><img
        src="/assets/images/inkyheavenlogo.png"
        width="50"
        height="auto"
      />inky Heaven</a
    >
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"
      ><i class="material-icons">menu</i></a
    >
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/">Home</a></li>
      <% if (!currentUser) { %>
      <li><a href="/auth/signup">Signup</a></li>
      <li><a href="/auth/login">Login</a></li>
      <% } else { %>
      <li><a href="/auth/logout">Logout</a></li>
      <li><a href="/user/"> <%= currentUser.name %> </a></li>
      <% } %>
    </ul>
  </div>
</nav>
<ul class="sidenav green lighten-3" id="mobile-demo">
  <li><a class="white-text" href="/">Home</a></li>
  <% if (!currentUser) { %>
  <li><a class="white-text" href="/auth/signup">Signup</a></li>
  <li><a class="white-text" href="/auth/login">Login</a></li>
  <% } else { %>
  <li><a class="white-text" href="/auth/logout">Logout</a></li>
  <li><a class="white-text" href="/user/"> <%= currentUser.name %> </a></li>
  <% } %>
</ul>
