<div class="home">
  <h2>Homepage</h2>
  <div>
    <a href="/auth/signup" class="waves-effect waves-light btn-small"
      ><i class="material-icons right">send</i>Signup</a
    >
    <a href="/auth/login" class="waves-effect waves-light btn-small"
      ><i class="material-icons right">send</i>Login</a
    >
  </div>
</div>
