<div class="container">
  <div class="row about">
    <div class="col s12 m6">
      <div class="card green lighten-3">
        <div class="card-content white-text">
          <span class="card-title"
            >inky Heaven <br />
            Weather + Astronomy at the touch of your fingertips..</span
          >
          <p>Access the inky Heaven Weather Portal.</p>
        </div>
        <% if (currentUser) { %> 
        <div>
          <form method="GET" action="/locations">
            <div class="input-field">
            <input type="search" name="search" id="search" required>
            </div>
            <div class="right-align">
            <button class="btn-small waves-effect waves-light green" type="submit"><i class="material-icons right">search</i>Search</button>
            </div>
          </form>
        </div>
        <% } else { %>
          <div class="card-action">
            <a href="/auth/signup" class="green btn-small"
              ><i class="material-icons right">brush</i>Signup</a
            >
            <a href="/auth/login" class="green btn-small"
              ><i class="material-icons right">timeline</i>Login</a
            >
          </div>
          
        <% } %>
      </div>
    </div>
  </div>
</div>
