<div class="home">
  <div class="row">
    <div class="col s12 m6">
      <div class="card green lighten-3">
        <div class="card-content white-text">
          <span class="card-title"
            >inky Heaven <br />
            Weather + Astronomy at the touch of your fingertips..</span
          >
          <p>Access the inky Heaven Weather Portal.</p>
        </div>
        <div class="card-action">
          <a href="/auth/signup" class="green lighten-4 btn-small"
            ><i class="material-icons right">brush</i>Signup</a
          >
          <a href="/auth/login" class="green lighten-4 btn-small"
            ><i class="material-icons right">timeline</i>Login</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
