<div class="container">
  <div class="row about">
    <div class="col s12 m6">
      <div class="card green lighten-3">
        <div class="card-content white-text">
          <span class="card-title"
            >inky Heaven <br />
            Weather + Astronomy at the touch of your fingertips..</span
          >
          <p>Access the inky Heaven Weather and Astronomy Portal.</p>
        </div>
        <% if (currentUser) { %>
        <div>
          <form method="GET" action="/locations">
            <div class="input-field">
              <input
                type="search"
                name="search"
                id="search"
                placeholder="Search Globally Here.."
                required
              />
            </div>
            <div class="right-align">
              <button
                class="btn-small waves-effect waves-light green"
                type="submit"
              >
                <i class="material-icons right">search</i>Search
              </button>
            </div>
          </form>
        </div>
        <% } else { %>
        <div class="card-action">
          <a
            href="/auth/signup"
            class="green btn-small waves-effect waves-light"
            ><i class="material-icons right">brush</i>Signup</a
          >
          <a href="/auth/login" class="green btn-small waves-effect waves-light"
            ><i class="material-icons right">timeline</i>Login</a
          >
        </div>

        <% } %>
      </div>
    </div>
  </div>
</div>

<!-- Element Showed -->
<a id="menu" class="waves-effect waves-light btn btn-floating"
  ><i class="material-icons">assistant</i></a
>

<!-- Tap Target Structure -->
<div class="tap-target" data-target="menu">
  <div class="tap-target-content">
    <h5>Fun Astronomy Fact</h5>
    <h6>The Moon is lemon-shaped</h6>
    <p>
      Despite its appearance in the night sky, our natural satellite is nowhere
      near round. In fact, the Moon is shaped like a lemon, with flattened poles
      and bulges on both the near and far side around its equator. This strange
      shape is thought to have been created during interactions with Earth soon
      after its formation.
    </p>
  </div>
</div>
