html,
body {
  background: url("../assets/images/treebg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

main {
  min-height: 90vh;
  color: white;
}

.home {
  position: absolute;
  bottom: 0;
  left: 0;
}

h1 {
  text-shadow: 2px 2px 5px black;
}
