html,
body {
  background: url("../assets/images/treebg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto;
}

main {
  min-height: 90vh;
  color: white;
}

.home {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  margin-top: 100px;
}

.login {
  margin-top: 100px;
}

.login .card {
  background: rgba(0, 0, 0, 0.6);
}

.login label {
  font-size: 16px;
  color: #ccc;
}

.login input {
  font-size: 22px !important;
  color: #fff;
}

.login button:hover {
  padding: 0px 40px;
}

.signup {
  margin-top: 100px;
}

.signup .card {
  background: rgba(0, 0, 0, 0.6);
}

.signup label {
  font-size: 16px;
  color: #ccc;
}

.signup input {
  font-size: 22px !important;
  color: #fff;
}

.signup button:hover {
  padding: 0px 40px;
}
