<form method="POST" action="/locations/<%= location.id %>?_method=PUT">
<label for=""></label>
<input type="text" name="title" id="">
<button class="btn waves-effect waves-light green" type="submit"><i class="material-icons right">edit_location</i>Edit</button>
</form>

    <!-- <form method="GET" action="/locations/<%= location.id %>?_method=PUT" >
    <div class="right-align">
    <button class="btn waves-effect waves-light green" type="submit"><i class="material-icons right">edit_location</i>Edit</button>
    </div>
    </form> -->